# Virtual environment
venv/

# Python cache
__pycache__/

# Model weights
*.pth

# AI model training data
data/*.txt
data/*.json
data/*.jsonl
data/*.csv
data/*.parquet
data/*.hdf5
data/*.h5
data/*.npz
data/*.npy
data/*.pkl
data/*.pickle
data/*.tfrecord
data/*.arrow

# Log files
*.log